.splash_body {
  flex: 1;
  max-height: 90vh;
  overflow: hidden;
  display: grid;
  position: relative;
}

.splash_body img {
  width: 100%;
  filter: blur(10px);
  grid-row: 1 / 4;
}

.splash_gif_foreground {
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 1;
  font-family: 'Major Mono Display', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
}
